.vuejsplus-toolbar-items .bookshelf-view-tool-uemodule-bookpdf {
    padding-left: 2.5em;
    background-image: url('../../BlueSpiceBookshelf/resources/images/page_white_acrobat.png');
    background-repeat: no-repeat;
    background-size: 2em;
    background-position-x: left;
    background-position-y: center;
}
